body {
  background-color: #87ceeb;
  margin: 0;
  font-family: Arial;
}

h1 {
  text-align: center;
  border-top: 0;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 25px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3px;
}

.pacientes_box {
  text-align: center;
  font-size: 15px;
  background-color: #00a86b;
  padding: 10px 10px;
  border: 2px solid #222;
  margin: 0px 100px 0px 100px;
  cursor: pointer;
}

.pacientes_box:hover {
  transform: scale(1.2);
  transition: 1s;
}
