body {
  background: #19b2e6;
  margin: 0;
  font-family: Arial;
}

h1 {
  font-family: Arial;
  padding-left: 480px;
  padding-right: 400px;
  margin: 30px 0px 0px 30px;
  font-size: 40px;
  text-decoration: underline 1px #19b2e6;
  text-shadow: 2px 2px 5px #5656ff;
}

svg {
  display: flex;
}

h2 {
  font-family: Arial;
  text-shadow: 2px 2px 5px #00452c;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

#div1,
#div2,
#div3 {
  background: #00a86b;
  width: 300px;
  height: 300px;
  border: 5px solid #111;
  /* display: flex; */
  margin: 30% 50% 0% 50%;
  justify-content: space-around;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: 25% 25% 25%;
}

#div1:hover {
  transform: scale(1.1);
  transition: 0.75s;
}

#div2:hover {
  transform: scale(1.1);
  transition: 1s;
}

#div3:hover {
  transform: scale(1.1);
  transition: 1s;
}
